{%extends 'base.html' %}
{%block content%}
<div class="d-inline-flex p-2 bd-highlight">
    <div>
        <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" id="username" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" class="form-control" placeholder="Password">
        </div>
        <button id="submit" class="btn btn-primary">Submit</button>
    </div>
</div>
<style>
</style>
<script>
  (() => {
    const login = async() => {
      const url = "http://localhost:8000/check_login"
      const username = document.getElementById("username").value;
      const password = document.getElementById("password").value;
      const result = await fetch(url, {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({
          username: username,
          password: password
        }),
      })
      .then((response) => {
        if (response.status != 200) {
          throw new Error ("Unauthorized Request");
        }
        alert("Login Success!");
        return response.json();
      })
      .then((json) => {
        const token = json.token;
        setCookie(token, username);
        return json;
      })
      .catch((error) => {
        alert(error.message);
      })
    }

    const setCookie = (token, username) => {
      const currTime = new Date().getTime();
      const expiryTime = currTime + (60000* 120); // 120 minutes
      const expiryUTC = new Date(expiryTime).toUTCString();
      document.cookie = `token=${token}; username=${username}; expiry=${expiryUTC}`;
    }

    const bindButtonActions = () => {
      document.getElementById("submit").addEventListener("click", login)
    }

    window.onload = () => {
      bindButtonActions();
    }
  })()
</script>
{%endblock content%}