{%extends 'base.html' %}

{%block content%}

<div class="container">
  <div class="row mb-5">
    <h1>Inventory</h1>
  </div>

  <div class="row mb-3">
    <div>
      <button
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#modal"
        app-action="inventory.add"
      >Add Inventory</button>

      <button
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#modal"
        app-action="aid_category.add"
      >Add Aid Category</button>
      <button
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#modal"
        app-action="aid_kit.add"
      >Add New Kit</button>
      <button
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#modal"
        app-action="aid_kit.edit"
      >Manage Aid Kits</button>
    </div>
  </div>

  <div class="row">
    <div class="col" id="dataTarget">
    </div>
  </div>
</div>


<script src="/js/inventory.js"></script>
<script src="/js/kit.js"></script>

{%endblock content%}