{%extends 'base.html' %}

{%block content%}

<div class="container">
  <div class="bg-white rounded shadow-sm p-5">
    <div class="mb-1">
      <div class="mb-5 mx-auto text-center">
        <h3 class="display-6">Search</h3>
      </div>
    </div>
    <div>
      <div class="mb-2">
        <label>First Name</label>
        <input id="firstname" type="text" class="form-control">
      </div>
      <div class="mb-2">
        <label>Last Name</label>
        <input id="lastname" type="text" class="form-control">
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <select id="type" class="form-select mt-2 mb-2">
              <option selected value="0">Type</option>
              <option value="1">Recipient</option>
              <option value="2">Donor</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-4">
      <button type="button" id="submit" class="btn btn-primary btn-block rounded-pill shadow-sm" data-bs-toggle="modal"
        data-bs-target="#result-modal"> Submit</button>
    </div>
  </div>
</div>

<!-- Modal Start -->
<div class="modal fade" id="result-modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <!-- Modal header -->
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalHeading">Search Results</h1>
        <button type="button" data-bs-dismiss="modal" class="btn-close"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" id="modalBody">
        <div id="factoryTarget" class="row">
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal End -->







<script src="/js/search.js"></script>

{%endblock content%}