{%extends 'base.html' %}

{%block content%}

<div class="container">
  <div class="bg-white rounded shadow-sm p-5">
    <div class="mb-1">
      <div class="mb-5 mx-auto text-center">
        <h3 class="display-6">Login Settings</h3>
      </div>
    </div>
    <div>
      <div class="mb-2">
        <label>Lockout Period (Hours)</label>
        <input id="lockout-period" type="number" step="0.1" min="0.0" class="form-control" placeholder="{{lockout_period}}">
      </div>
      <div class="mb-2">
        <label>Login Attempts</label>
        <input id="login-attempts" type="number" step="1" min="0" class="form-control" placeholder="{{login_attempts}}">
      </div>
      <div class="text-center mt-4">
        <button type="button" id="save" class="btn btn-primary btn-block rounded-pill shadow-sm"> Save
        </button>
      </div>
    </div>
  </div>
</div>

<script src="/js/security.js"></script>
{%endblock content%}